<ion-header no-border>
    <ion-toolbar color="white">
      <ion-title color="appprimary">Add Into Galary</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <div class="fullBody">
        <div class="addingPlace">
            <div class="leftSide">
                <label>
                    <input type="file" accept="image/*" (change)="fileProgress($event)" />
                    <img [src]="validateThese.base64Image ? validateThese.base64Image : 'https://icons-for-free.com/iconfiles/png/512/add+photo+plus+upload+icon-1320184050039319890.png'" />
                </label>                
            </div>
            <div class="rightSide">
                <button (click)="getPicture(camera.PictureSourceType.CAMERA)"><ion-icon name="camera"></ion-icon></button>
                <button (click)="getPicture(camera.PictureSourceType.PHOTOLIBRARY)"><ion-icon name="folder"></ion-icon></button>
            </div>
        </div>
        <div class="captionPlace">
            <ion-item>
                <ion-icon item-end name="outlet"></ion-icon>
                <ion-input placeholder="Add a caption" [(ngModel)]="validateThese.caption"></ion-input>
            </ion-item>
        </div>
        <div>
            <ion-row>
                <ion-col col-4>
                    <button ion-button color="danger" full (click)="cancelUpload()">Cancel</button>
                </ion-col>
                <ion-col col-4>
                    <button ion-button color="dark" full (click)="resetFiles()" [disabled]="!validateThese.base64Image && !validateThese.caption">Reset</button>
                </ion-col>
                <ion-col col-4>
                    <button ion-button color="primary" full (click)="validate()" [disabled]="!validateThese.base64Image">Save</button>
                </ion-col>
            </ion-row>
        </div>
    </div>
    <div class="listing">
        <ion-list *ngIf="recentlyAdded.length > 0">
            <ion-list-header>
                <ion-icon name="list" item-start></ion-icon>
                <ion-title>Recently Added</ion-title>
              </ion-list-header>
            <ion-item *ngFor="let data of recentlyAdded">
              <ion-thumbnail item-start>
                <img [src]="data.image">
              </ion-thumbnail>
              <h2>{{data.caption}}</h2>
              <p>{{dateFormater(data.time, 'll')}}</p>
            </ion-item>
          </ion-list>
    </div>
</ion-content>
